<article class="todo-card">
    <form class="todo-card__form" [formGroup]="formEdicao">
        <textarea rows="5" formControlName="titulo" class="todo-card__text">
            {{ todo.title }}
        </textarea>
        <div class="input-container">
            <input formControlName="completo" id="check-completo-{{todo.id}}" type="checkbox"
                class="todo-card__done-select" [checked]="todo.done" />
            <label for="check-completo-{{todo.id}}">
                Completado
            </label>
        </div>
    </form>
    <div class="todo-card__actions">
        <button class="todo-card__action-button" (click)="editarTodo()">
            Editar
        </button>
        <button class="todo-card__action-button" (click)="deletarTodo()">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</article>